
.inputform h5{
    color:red;
  }

  .right{
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(90deg, rgba(138, 103, 103, 0.767) 0%, rgb(39, 2, 2) 100%);
     
  }
  .form{
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 60%;
    width: 90%;
    height:100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }
  .form h1{
    font-size: 1rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: rgb(35, 77, 167);
  }
  .forminputs{
    margin-bottom: 1rem;
    width: 80%;
  }
  .forminputs h5{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: red;
  }
  .formlabel{
    color: cornsilk;
    font-size: medium;
    margin-bottom: 6px;
    display:grid;
  }
  .forminput{
    padding-left: 10%;
    outline: none;
  border-radius: 6px;
  height: 40px;
  }
  .forminput::placeholder{
    font-size: 12px;
    color: red;
  }
  .btn{
    width: 20%;
    height: 50%;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(90deg,rgb(39,176,255) 0%,
    rgb(0,232,236)100%);
    font-size: medium;
  }
  .btn:hover{
    cursor: pointer;
    transition: all 0.4s ease-out;

  }
  .inputlogin{
    margin: 15px;
    font-size: 0.9rem;
    margin-top: 10px;
    color:bisque;
    width: 40%;
    text-align: center;
  }
  .inputlogin a{
    font-weight: 500;
    color: rgb(68, 209, 228);
    text-decoration: none;
  }
  .forminputs h1{
    font-style: italic;
    color: blanchedalmond;
  }
